@model ShopTARge24.Models.ChuckNorris.ChuckNorrisViewModel

<h1>Search ChuckNorris Jokes</h1>

<div class="container">
	<form method="post">
		<div class="container">
			<div class="form-group col-md-offset-3 col-md-5">
				<label asp-for="id" style="font: Arial"></label>
				<input asp-for="id" class="form-control" />
				<span asp-validation-for="id" class="text-danger"></span>
			</div>
		</div>
	</form>
</div>