@model ShopTARge24.Models.ChuckNorris.ChuckNorrisViewModel

<h1>Search Chuck Norris Jokes</h1>

<div class="container">
    <form method="post">
        <div class="form-group">
            <h2>Welcome to Chuck Norris joke site</h2>
            <button asp-controller="ChuckNorris" asp-action="SearchChuckNorrisJokes" class="btn btn-primary mt-2">
                Chuck Norris joke
            </button>
        </div>
    </form>
</div>