@model ShopTARge24.Models.Kindergarten.KindergartenCreateUpdateViewModel

<h1>@(Model.Id.HasValue ? "Update Kindergarten" : "Create Kindergarten")</h1>

<form asp-action="@(Model.Id.HasValue ? "Update" : "Create")"
      asp-controller="Kindergarten"
      method="post">

    <input asp-for="Id" type="hidden" />

    <div class="form-group row">
        <label asp-for="KindergartenName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="KindergartenName" class="form-control" />
            <span asp-validation-for="KindergartenName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="GroupName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="GroupName" class="form-control" />
            <span asp-validation-for="GroupName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="TeacherName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TeacherName" class="form-control" />
            <span asp-validation-for="TeacherName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ChildrenCount" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ChildrenCount" class="form-control" />
            <span asp-validation-for="ChildrenCount" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="CreatedAt" class="form-control" type="datetime-local" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UpdatedAt" class="form-control" type="datetime-local" />
        </div>
    </div>


    <div>
        @foreach (var images in Model.Image)
        {
            <partial name="_Images" model="images" />
        }
    </div>

    <dl>
        @foreach (var images in Model.Image)
        {
            <partial name="_Images" model="images" />
        }
    </dl>

    <div class="mt-3">
        <button type="submit" class="btn btn-success">
            @(Model.Id.HasValue ? "Update" : "Create")
        </button>
        <a asp-action="Index" asp-controller="Kindergarten" class="btn btn-secondary">Back</a>
    </div>
</form>