@model ShopTARge24.Models.Accounts.LoginViewModel

@{
    ViewBag.Title = "User Login";
}

<div class="row">
    <div class="col-md-6">
        <h1>Local Account Login</h1>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">
                Login
            </button>
            <div>
                <a asp-action="ForgotPassword">Forgot Password?</a>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h1>External Login</h1>
        <hr />
@*         <form asp-controller="Accounts"
              asp-action="ExternalLogin"
              method="post">

            <input type="hidden" name="provider" value="Google" />

            <button type="submit" class="btn btn-danger">
                Login with Google
            </button>
        </form> *@
        <script src="https://accounts.google.com/gsi/client" async></script>

        <div id="g_id_onload"
             data-client_id=""
             data-login_uri="https://localhost:7255"
             data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
             data-type="standard"
             data-size="large"
             data-theme="outline"
             data-text="sign_in_with"
             data-shape="rectangular"
             data-logo_alignment="left">
        </div>
    </div>
</div>
   
@* 		Minu kood:	
    <div>
				<input type="checkbox" id="remember" name="remember">
				<label for="remember" class="remember-label">Remember me</label>
			</div>

            <button type="submit" class="btn btn-primary">
                Login
            </button>

            <br />
            <a href="/forgot-password" class="forgot-link">
                Forgot Password?
            </a>    
        </form> *@



